<div class="card">
  <div class="card-image">
    <img src="../images/800.jpg" alt="Playlist Picture">
  </div>
  <div class="card-content">
    <span class="card-title">
      <%= playlist.name %>
    </span>
    <p>
      <%= playlist.desc %>
    </p>
  </div>
  <div class="card-action">
    <a href="/playlist/<%= playlist._id %>" class="blue-grey-text">View list!</a>
    <% if (loggedInUserId == user._id){ %>
      <a href="/playlist/<%= playlist._id %>/delete">
        <i class="material-icons blue-grey-text right">delete</i>
      </a>
      <% } %>
  </div>
</div>

<!-- <div class="col s12 m6 l6">
  <div class="card horizontal">
    <div class="card-image">
      <div class="parent">
        <img src="../images/800.jpg" alt="Playlist Picture">
      </div>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <span class="card-title">
          <%= playlist.name %>
        </span>
        <p>
          <%= playlist.desc %>
        </p>
      </div>
      <div class="card-action">
        <a href="/playlist/<%= playlist._id %>" class="teal-text">View list!</a>
        <% if (loggedInUserId == user._id){ %>
          <a href="/playlist/<%= playlist._id %>/delete">
            <i class="material-icons teal-text right">delete</i>
          </a>
          <% } %>
      </div>
    </div>
  </div>
</div> -->