<li class="collection-item avatar">
  <i class="material-icons circle red">play_arrow</i>
  <span class="title">
    <%= song.title %>
  </span>
  <p>
    <%= song.artist %>
      <br>
      <%= song.length %>
  </p>
  <span class="secondary-content black-text">
    <a href="<%= song.youtube %>" target="_blank">
      <img src="../icons/youtube-play.png" class="play-icon" alt="Youtube">
    </a>

    <a href="<%= song.spotify %>" target="_blank">
      <img src="../icons/spotify.png" class="play-icon" alt="Spotify">
    </a>

    <% if (loggedInUserId == playlist._owner.toString()){ %>
      <a href="/song/<%= song._id %>/delete">
        <i class="material-icons teal-text">delete</i>
      </a>
      <% } %>
  </span>
</li>