<li class="collection-item avatar">
  <i class="material-icons circle red">play_arrow</i>
  <span class="title">
    <%= song.title %>
  </span>
  <p>
    <%= song.artist %>
    <br> <%= song.length %>
  </p>
  <span class="secondary-content black-text">
    <a href="<%= song.youtube %>"><img src="../icons/youtube-play.png" class="play-icon"></a>
    <a href="<%= song.spotify %>"><img src="../icons/spotify.png" class="play-icon"></a>
    <a href="/playlist/<%= playlist._id %>/deletesong/"><i class="material-icons teal-text">delete</i></a>
  </span>
</li>